<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Website Catalog Restaurant" />
    <meta name="keywords" content="Warkopbae Catalog Restaurant" />
    <meta name="theme-color" content="#f8fafc" />
    <link rel="shortcut icon" href="./images/favicon/icon-web.png" type="image/x-icon" />
    <link rel="icon" href="/favicon.ico" />
    <link rel="manifest" href="./app.webmanifest" />
    <link rel="apple-touch-icon" href="/images/favicon/icon-192x192.png" />
    <title>WarkopBae</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.css" crossorigin="anonymous" />
    <script src="https://use.fontawesome.com/b070c8f1df.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <a href="#maincontent" class="skip-link"> To Main Content</a>
    <header>
      <custom-navbar></custom-navbar>
    </header>
    <main id="maincontent"></main>
    <custom-footer></custom-footer>
  </body>
</html>
