.title-content {
  width: 100%;
  display: flex;
  justify-content: center;
}
.title-page {
  margin-top: 2%;
  font-size: 2em;
}
.empty-favorite {
  height: 70vh;
}
.empty-title {
  font-size: 1.5em;
}
.empty-image {
  width: 50%;
}
