@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: "Poppins", sans-serif;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #e8e8e8;
}

::-webkit-scrollbar-thumb {
  background: #5f8d4e;
}

::-webkit-scrollbar-thumb:hover {
  background: #4b6143;
}
.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  padding: 8px;
  background-color: #bf1722;
  color: white;
  z-index: 100;
}

.skip-link:focus {
  top: 0;
}

header {
  width: 100%;
}
h1:focus,
img:focus,
h2:focus,
h3:focus,
h5:focus {
  outline: 4px solid;
}
nav {
  position: relative;
  align-items: center;
  display: flex;
  justify-content: space-around;
  padding: 1em;
}

nav ul {
  width: 300px;
  list-style: none;
  display: flex;
  justify-content: space-around;
}

nav ul li {
  padding: 0.3em;
}
nav ul li a {
  font-size: 1.2em;
  font-weight: 500;
  height: 44px;
  width: 44px;
  color: black;
  text-decoration: none;
}
nav ul li a:hover,
nav ul li a:focus {
  color: #5f8d4e;
}
nav ul li a:focus {
  outline: 4px solid;
}
#hamburger-menu {
  display: none;
}

img.banner-image {
  width: 100%;
  filter: grayscale(50%);
}
section.hero-section {
  position: relative;
}
.desc {
  background-color: rgba(0, 0, 0, 0.5);

  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.desc-content h2 {
  text-align: center;
  font-size: 4rem;
  color: white;
}
.desc-content h2 span {
  background-color: rgb(95, 141, 78, 0.7);
}

h2.sub-title {
  margin-top: 2%;
  font-size: 2em;
  text-align: center;
}

.main-content {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 2%;
}
.item-resto {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  display: flex;
  flex-wrap: wrap-reverse;
  overflow: hidden;
  width: 500px;
  margin: 10px;
  border-radius: 5%;
  position: relative;
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
}
.card img:hover {
  transform: scale(1.1);
}
.card img {
  transition: transform 0.5s ease;
  width: 100%;
  height: 300px;
  border-radius: 5%;
}
.resto-desc {
  text-align: left;
  padding: 2em;
}
div.place-resto {
  position: absolute;
  background-color: #5f8d4e;
  color: white;
  top: 0;
  left: 0;
  padding: 0.8em;
  margin: 2%;
  border-radius: 10%;
}
div.rating-resto {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  top: 0;
  right: 0;
  padding: 0.8em;
  margin: 2%;
  border-radius: 10%;
}

.resto-desc h3.name-resto {
  cursor: pointer;
  font-size: 1.5em;
}
.resto-desc h3.name-resto:hover {
  color: #5f8d4e;
  transition: all 0.5s;
}

footer {
  margin: 2%;
}

div.nav-footer {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 2%;
}

footer div.nav-footer {
  display: flex;
}
footer div.nav-footer ul {
  list-style: none;
}
footer div.nav-footer ul li a {
  text-decoration: none;
  font-size: 18px;
  height: 44px;
  width: 44px;
}
footer div.nav-footer ul li a:hover {
  color: #5f8d4e;
}
footer div.nav-footer ul li a:focus {
  outline: 4px solid;
}
footer h5 {
  width: 100%;
  margin-top: 2%;
  text-align: center;
}
footer h3 {
  font-size: 1.7em;
}
footer h4 {
  color: #cbd5e1;
}
footer div.border {
  background-color: #334155;
  width: 100%;
  height: 1px;
}

@media (min-width: 1200px) {
  .hero-section {
    display: flex;
    justify-content: center;
  }
  img.banner-image {
    border-radius: 3%;
    width: 1000px;
  }
  .desc {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 3%;
    width: 1000px;
  }
}

@media (max-width: 700px) {
  .desc-content h2 {
    font-size: 2.5rem;
  }
  h2.sub-title {
    margin-top: 2%;
    font-size: 1.5em;
  }
  nav ul {
    transition: 0.5s;
    z-index: 20;
    position: absolute;
    display: block;
    background-color: white;
    right: 0;
    max-width: 250px;
    width: full;
    top: 100%;
    border-radius: 0.5rem; /* 8px */
    margin: 5px;
    padding: 1em 2em;
  }
  nav ul.show {
    transform: translateY(-500px);
    transition: 0.8s;
  }
  nav ul li {
    display: block;
  }
  /* Hamburger Menu */
  #hamburger-menu {
    display: flex;
    border: 0;
    background-color: white;
    flex-direction: column;
    height: 44px;
    width: 44px;
    align-items: center;
    justify-content: center;
  }
  #hamburger-menu span:nth-child(1),
  #hamburger-menu span:nth-child(3) {
    margin: 2px 0;
    display: block;
    width: 28px;
    height: 4px;
    background-color: black;
    border-radius: 3px;
    transition: 0.5s;
  }
  #hamburger-menu span:nth-child(2) {
    transition: 0.5s;
    display: block;
    width: 28px;
    height: 4px;
    background-color: #5f8d4e;
    transform: translateX(-0.5rem);
    border-radius: 3px;
  }
  button.active nav ul {
    transform: translate(0);
  }

  button.active span:nth-child(1) {
    transform: rotate(45deg) translate(-5px, -1px);
    transform-origin: 0 0;
    transition: 0.5s;
  }
  button.active span#line {
    transform: translate(1000px, -1px);
    transition: 0.5s;
  }
  button.active span:nth-child(3) {
    transform: rotate(-45deg) translate(-5px, 0px);
    transform-origin: 0 100%;
    transition: 0.5s;
  }

  footer div.nav-footer {
    width: 100%;
    display: block;
    text-align: center;
  }
  footer div.nav-bottom {
    margin-top: 2%;
  }
}
@media (max-width: 440px) {
  .desc-content h2 {
    font-size: 2rem;
  }
}
@media (max-width: 355px) {
  .desc-content h2 {
    font-size: 1.5rem;
  }
}
