header {
  width: 100%;
}
nav {
  position: relative;
  align-items: center;
  display: flex;
  justify-content: space-around;
  padding: 1em;
}

nav ul {
  width: 300px;
  list-style: none;
  display: flex;
  justify-content: space-around;
}

nav ul li {
  padding: 0.3em;
}
nav ul li a {
  font-size: 1em;
  font-weight: 500;
  padding: 12px 12px 10px;
  width: 100%;
  height: 100%;
  color: black;
  text-decoration: none;
}
nav ul li a:hover,
nav ul li a:focus,
nav ul li a.active {
  border-bottom: 2px solid #5f8d4e;
  color: #5f8d4e;
}

#hamburger-menu {
  display: none;
}
